{% load static %}
<section class="about-section sec-padding" id="about">
    <div class="container-b">
        <div class="row-b">
            <div class="section-title">
                <h2 data-title="about us">Chi Siamo</h2>
            </div>
        </div>
        <div class="row-b">
            <div class="about-text">
                <h3> Benvenuti da Bellari </h3>
                <p>
                    La Tradizione Emiliana e le prelibatezze del Mare si incontrano a Rubiera, privilegiando genuinita',
                    semplicita' e freschezza.

                </p>
                <p>
                    seconda didascalia se necessaria
                </p>
                <a href="https://maps.app.goo.gl/rF6r7QGs2QHvGZha7" target="_blank" class="btn-b btn-default-b">Scopri
                    come
                    raggiungerci</a>
            </div>
            <div class="about-img">
                <div class="img-box">
                    <img src="{% static 'reservation/images/aboutimg.jpg' %}" alt="about img">
                </div>
            </div>
        </div>
    </div>
</section>
