<footer class="footer-b" id="footer">
    <div class="container-b">
        <div class="row-b">
            <div class="footer-item-b">
                <h3>Dove Siamo</h3>
                <p>Piazza del popolo 1/h <br> Rubiera, RE, 42048 </p>
                <!--                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4773.576714218505!2d10.775259293424105!3d44.65047094916153!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x477ff0b0aa5f2885%3A0xf814ffbdeae01a5f!2sMOSAIC%20Hamburgeria%20-%20Beer%20-%20Wine!5e0!3m2!1sit!2sit!4v1695059103679!5m2!1sit!2sit" width="200" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>-->
            </div>
            <div class="footer-item-b">
                <h3>Orario</h3>
                <p>Lunedì-Domenica <br> 12:00 - 14:00 <br> 19:00 - 24:00</p>
                <p></p>
                <p></p>
                <p></p>
            </div>
            <div class="footer-item-b">
                <h3>Contattaci</h3>
                <p>+39 numero di telefono</p>
            </div>
        </div>
        <div></div>
        <div class="row-b">
            <div class="copyright">
                <!-- &copy;  2023 - Bellari -->
            </div>
        </div>
    </div>
</footer>