{% load static %}
<header class="header-b">
    <div class="container-b">
        <div class="row-b justify-content-between-b align-items-center-b">
            <div class="logo">
                <a href="#home"><img src="{% static 'reservation/images/logo.png' %}" alt="logo" height="20"
                                     width="90"></a>
                <!--- <h2>  </h2>-->
            </div>
            <!--                 <button type="button" class="nav-toggler">
                                <span></span>
                            </button>
                           <nav class="nav">
                                <ul>
                                    <li class="nav-item"><a href="#home">home</a></li>
                                    <li class="nav-item"><a href="#about">La nostra Storia</a></li>
                                    <li class="nav-item"><a href="#our-menu">il nostro menu</a></li>
                                    <li class="nav-item"><a href="#book-table">prenotare un tavolo</a></li>
                                    <li class="nav-item"><a href="#footer">contattaci</a></li>
                                </ul>
                            </nav>-->
        </div>
    </div>
</header>