{% extends 'base.html' %}

{% block content %}
    <div class="container">
        {% if user.is_authenticated %}
            <div class="d-flex justify-content-end">
                <div class="p-2 mt-lg-n4">
                    <button class="btn btn-outline-primary">
                        <a href="{% url 'reservation:reservations_list' %}" class="text-decoration-none text-reset">
                            See reservations
                        </a>
                    </button>
                </div>
            </div>
        {% endif %}

        {% include 'reservation_form.html' %}
    </div>
{% endblock %}