{% load django_tables2 %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reservations</title>

</head>
<body>
<h1 class="h1 text-center mt-4">
    Reservations at Ballermo
</h1>
<div class="container mt-5">
    {% render_table table %}
{#    <table class="table">#}
{#      <thead>#}
{#        <tr>#}
{#          <th scope="col">Name</th>#}
{#          <th scope="col">Email</th>#}
{#          <th scope="col">Number of persons</th>#}
{#          <th scope="col">Date</th>#}
{#          <th scope="col">Time</th>#}
{#          <th scope="col">Mentions</th>#}
{#          <th scope="col">Confirmed</th>#}
{#          <th scope="col"></th>#}
{#        </tr>#}
{#      </thead>#}
{#      <tbody>#}
{#          {% for r in reservations %}#}
{#            <tr>#}
{#              <td>{{ r.customer_name }}</td>#}
{#              <td>{{ r.customer_email }}</td>#}
{#              <td>{{ r.no_persons }}</td>#}
{#              <td>{{ r.date }}</td>#}
{#              <td>{{ r.time }}</td>#}
{#              <td>{{ r.mentions }}</td>#}
{#              <td>#}
{#                  {% if r.confirmed %}#}
{#                       <span>Confirmed</span>#}
{#                  {% else %}#}
{#                      <button class="btn btn-outline-primary">Confirm</button>#}
{#                  {% endif %}#}
{#              </td>#}
{#            <td>#}
{#                <button class="btn btn-danger">Remove</button>#}
{#            </td>#}
{#            </tr>#}
{#          {% endfor %}#}
{#      </tbody>#}
{#    </table>#}
</div>
</body>
</html>