{% load django_tables2 %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reservations</title>

</head>
<body>
<h1 class="h1 text-center mt-4">
    Reservations at Ballermo
</h1>
<div class="d-flex justify-content-end">
    <div class="p-2 mt-lg-n4">
        <button class="btn btn-outline-secondary"><a href="{% url 'logout' %}" class="text-decoration-none text-reset">Logout</a></button>
    </div>
</div>

<div class="container mt-5">
    {% render_table table %}
</div>
</body>
</html>